# Python virtual environment
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
*.out
*.err

# Streamlit config files (optional)
.streamlit/secrets.toml  # To keep sensitive data (like API keys) private

# Data files (optional)
*.csv
*.json
*.db

# Temporary files
*.tmp
*.cache

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
